<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<p>signed in as <%= current_user.name %> </p>
<% @users.each do |user| %>
  <div>
    <div><img src="<%= user.photo %>" alt="User" /></div>
    <div>
      <h1><%= link_to user.name, user %></h1>
      <span>number of post: <%= user.posts.count %></span>
    </div>
  </div>
  <%= link_to "view", user %>
<% end %>
