<h1>below are details about this post from this user</h1>

<span><%= @posts.title %> by <%= @posts.author.name %> </span>
<span>Comments: <%= @posts.comments.count %></span>
<span>likes: <%= @posts.likes.count %></span>
<h1><%= @posts.title %></h1>
<p><%= @posts.text %></p>

<% @posts.comments.each do |comment| %>
  <p><%= comment.author.name  %>: <%= comment.text %></p>
<% end %>

<%= render 'partials/likes' %>

<%= form_with(model: @comment, url: "/users/#{@posts.author.id}/posts/#{@posts.id}/comments", method: :post, scope: :comment) do |form| %>
  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text, class: 'form-control' %>
  </div>

  <%= form.submit 'Create Comment', class: 'btn btn-primary' %>
<% end %>
